<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Grzegorz Łuska">
  <title>Biblioteka fimów</title>
  
  <link rel="stylesheet" type="text/css" href="./../assets/scss/logout.css">
  <link rel="stylesheet" type="text/css" href="./../assets/scss/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Obsługa bazy filmów</h1>
<div class="topnav">
  <button class="active fa fa-fw fa-home" href="#"> Home</button>
  <button class='btn' id="add-btn">Dodawanie filmów</button>
  <button class='btn fa fa-fw fa-search' id="find-btn"> Wyszukiwanie filmów</button>
  {{!-- <button class='btn' id="del-btn">Usuwanie filmów</button> --}}
</div>

{{!-- <nav class="navbar">

</nav> --}}
{{!-- <p>{{Confirmation1}}</p> --}}
  {{!-- <div class="footer"> <br>
    <button id="test1-btn">Test przekazanie nazwy samolotu</button>
    <button id="test10-btn">Test pobranie zarezerwowanych miejsc</button>
    <button id="test11-btn">Test aktualizacja zarezerwowanych miejsc</button>
  </div>
<div>
  <div id="output_BE" style="width: 280px; background-color: lightyellow">Zarezerwowane miejsca: </div>
  <p id="output" style="width: 80px; background-color: lightgreen">{{ wsadNode }}</p> --}}
   
  {{!-- <form action="/booked" method="GET" >
    <label for="name">Podaj imię i nazwisko:
            <input type="submit">
      </label>
   </form>

</div> --}}

  {{!-- <form action="/applications" method="POST" >
    <label for="name">Podaj imię i nazwisko:</label>
      <input type="text" name="name">
      <input type="submit">
   </form> --}}
  {{!-- <h2>formMessage</h2> --}}

<script   src="./../js/index.js"></script>
</body>

</html>