body{
    background-color: thistle;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
    
}
div{
    background-color: grey; 
}
.conf{
color:blue;
text-decoration: yellow;
font-weight: bold;

}